    <div class="row" *ngIf="budget !== null">
      <div class="col-xs-12 col-md-4">
        <balance [budget]="budget"></balance>
      </div>

      <div class="col-xs-12 col-md-8">
        <last-entries [budget]="budget"></last-entries>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="card text-xs">
          <div class="card-header">{{local.CREATE_NEW_ENTRY}}</div>
          <div class="card-block">
            <form class="form form-inline">
              <div class="form-group">
                <label class="sr-only" for="entryDescription">{{local.DESCRIPTION}}</label>
                <input required type="text" class="form-control" id="entryDescription" name="description" [(ngModel)]="newEntry.description" placeholder="{{local.DESCRIPTION}}">
              </div>
              <div class="form-group">
                <label class="sr-only" for="entryDate">{{local.DATE}}</label>
                <input required pattern="[0-9]{1,2}\\/[0-9]{1,2}\\/[0-9]{4}" type="date" class="form-control" id="entryDate" name="date" [(ngModel)]="newEntryDate" placeholder="{{local.CURRENT_DATE}}">
              </div>
              <div class="form-group">
                <label class="sr-only" for="entryValue">{{local.VALUE}}</label>
                <div class="input-group">
                  <input required pattern="[1-9]+[0-9\\.\\,]*" type="text" class="form-control" id="entryValue" name="value" [(ngModel)]="newEntry.value" placeholder="{{local.EXAMPLE_VALUE}}">
                  <div class="input-group-addon">{{local.CURRENCY}}</div>
                </div>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" name="monthly" [(ngModel)]="newEntry.monthly" type="checkbox"> {{local.MONTHLY}}
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" name="income" [(ngModel)]="newEntry.income" type="checkbox"> {{local.INCOME}}
                </label>
              </div>
              <button type="submit" (click)="createEntry()" class="btn btn-primary">{{local.CREATE}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
