<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr />

      <div class="">
        Description : <input type="text" [(ngModel)]="newEntry.description"><br />
        Value : <input type="number" [(ngModel)]="newEntry.value"><br />
        Date : <input type="date" [(ngModel)]="newEntry.date"><br />
        Monthly : <input type="checkbox" [(ngModel)]="newEntry.monthly"><br />
        End date : <input type="date" [(ngModel)]="newEntry.endDate"><br />
        Income : <input type="checkbox" [(ngModel)]="newEntry.income"><br />
        <button type="button" (click)="createEntry()">Créer</button>
      </div>
    </div>
  </div>
</div>
