<div class="row" *ngIf="budget !== null">
  <div class="col-xs-12">
    <nav class="navbar navbar-light bg-faded">
      <h1 class="navbar-brand mb-0">{{budget.description}}</h1>
    </nav>
  </div>
</div>

<div class="row" *ngIf="budget !== null">
  <div class="col-xs-12 col-md-4">
    <balance [budget]="budget"></balance>
  </div>
  <div class="col-xs-12 col-md-8">
    <trend [budget]="budget"></trend>
  </div>
</div>

<div class="row" *ngIf="entries.length > 0">
  <div class="col-xs-12">
    <div class="card text-xs">
      <div class="card-header">{{local.OPERATIONS}}</div>
      <div class="card-block">
        <table class="table table-stripped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>{{local.DESCRIPTION}}</th>
              <th>{{local.DATE}}</th>
              <th>{{local.VALUE}}</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of entries;" [ngClass]="{'table-success' : entry.income}">
              <td></td>
              <td>{{entry.description}}</td>
              <td>{{moment(entry.date).format('DD/MM')}}</td>
              <td>{{entry.value}}{{local.CURRENCY}}</td>
              <td><i [ngClass]="{'fa-arrow-up' : entry.income, 'fa-arrow-down' : !entry.income}" class="fa" aria-hidden="true"></i></td>
              <td><i [ngClass]="{'fa-repeat' : entry.monthly}" *ngIf="entry.monthly" class="fa" aria-hidden="true" title="{{local.MONTHLY}}"></i></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
