<div class="card text-xs">
  <div class="card-header">{{local.LAST_OPERATIONS}}
    <ngbd-modal-new-entry class="float-xs-right"></ngbd-modal-new-entry>
  </div>
  <div class="card-block">
    <table class="table table-stripped table-sm">
      <thead>
        <tr>
          <th>{{local.DESCRIPTION}}</th>
          <th>{{local.DATE}}</th>
          <th>{{local.VALUE}}</th>
          <th></th>
          <th title="{{local.MONTHLY}}"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of entries;" [ngClass]="{'table-success' : entry.income}">
          <td>{{entry.description}}</td>
          <td>{{moment(entry.date).format('DD/MM')}}</td>
          <td>{{entry.value}}{{local.CURRENCY}}</td>
          <td><i [ngClass]="{'fa-arrow-up' : entry.income, 'fa-arrow-down' : !entry.income}" class="fa" aria-hidden="true"></i></td>
          <td><i [ngClass]="{'fa-repeat' : entry.monthly}" *ngIf="entry.monthly" class="fa" aria-hidden="true" title="{{local.MONTHLY}}"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
  </div>
</div>

<template ngbModalContainer></template>
